body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
      width: 100%;
    height: 100%;
        background-size:cover;
    background-image: url("wallpaper.jpg");
}

html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
      width: 100% !important;
    height: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    backdrop-filter: blur(5px) grayscale(0.7) contrast(01);
}

.block{
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    color: #FFF;
    animation: blueshift 1s;
    -webkit-animation: blueshift 1s;
    -moz-animation: blueshift 1s;
    -o-animation: blueshift 1s;
    -ms-animation: blueshift 1s;
    border-bottom: 5px solid #404549;
}

.clickBlock{
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 3px;
    cursor: pointer;
}

.gray
{
    background-color: #404549;
    text-shadow: 0px -2px #404549
}

.blue
{
    background-color: #3399CC;
    text-shadow: 0px -2px #1f5e7e
}

.orange
{
    background-color: #CC6633;
    text-shadow: 0px -2px #8d4723;
}

.pink
{
        background-color: #ccb333;
    text-shadow: 0px -2px #8d7c23;
}

.green{
            background-color: #33cc66;
    text-shadow: 0px -2px #238d47;
}

.error{
    background-color: #B00020;
}


.text{
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes blueshift {
  0% {background-color: #656a6d; border-bottom: 1px solid #404549;  transform: translate(0px,5px);}
  100% {border-bottom: 5px solid #404549; }
}

@-moz-keyframes blueshift {
  0% {background-color: #656a6d; border-bottom: 1px solid #404549;  transform: translate(0px,5px);}
  100% {border-bottom: 5px solid #404549; }
}

@-webkit-keyframes blueshift {
  0% {background-color: #656a6d; border-bottom: 1px solid #404549;  transform: translate(0px,5px);}
  100% {border-bottom: 5px solid #404549; }
}

@-o-keyframes blueshift {
  0% {background-color: #656a6d; border-bottom: 1px solid #404549;  transform: translate(0px,5px);}
  100% {border-bottom: 5px solid #404549; }
}

@-ms-keyframes blueshift {
  0% {background-color: #656a6d; border-bottom: 1px solid #404549;  transform: translate(0px,5px);}
  100% {border-bottom: 5px solid #404549; }
}

.avoid-clicks {
  pointer-events: none;
}
